.aboutHeading{
    color: white;
    justify-content: center;
    font-size: 200px;
  text-align: center;
  color: white;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  font-family: "Lustria";
}

.name{
  font-size: 200px;
  text-align: center;
  color: white;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  font-family: "Lustria";
}
