.security_h1 {
  margin: 80px 0 10px 0;
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #000000, 2px 2px 0px #000000, 3px 3px 0px #000000,
    4px 4px 0px #000000;
  background-color: #1d1a1a;
  width: 280px;
  height: 70px;
  border-radius: 25px;
  position: absolute;
  top: -172px;
  left: 260px;
  text-align: center;
}

.security_h3 {
  background-color: #1d1a1a;
  position: absolute;
  width: 130px;
  height: 40px;
  top: 100px;
  left: 45px;
  text-align: center;
  border-radius: 15px;
  margin: 32px;
  font-size: 30px;
}

.profile_body {
  padding: 100px 0;
  background: #db65a6;
  color: rgb(255, 255, 255);
  width: 1000px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smooth: anti-aliased;
  border-radius: 15%;
}

.security_class {
  position: relative;
  left: 100px;
}
