.d_grid {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

body {
  background-color: rgb(0, 0, 0);
}

.signup-signup {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

input {
  margin: 10px 15px;
  padding: 10px 32px;
  text-align: center;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
}

.form-control {
  text-align: center;
  margin: 10px 50px;
  padding: 10px 10px;
}

label {
  line-height: 50px;
}

.tail-signup,
.wholeForm-signup {
  color: rgb(255, 255, 255);
  margin: 20px;
  border: 10px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 1px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.bubbleForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  padding: 0px 23px;
  margin: 5px 0;
  width: 300px;
  line-height: 40px;
  margin-bottom: 10px;
}

.topForm-signup {
  margin-top: 20px;
  background-image: linear-gradient(
    to right,
    rgb(115, 12, 117),
    rgb(115, 12, 117)
  );
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

button[type='login'],
button[type='submit'] {
  color: white;
  border-radius: 10px;
  border-color: rgb(207, 40, 185);
  background-color: rgb(207, 40, 185);
  margin: 10px;
  font-family: 'Arial', Sans-serif;
}
