.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

ul {
    text-align: left;
}

input {
    height: 27px;
    margin: 4px;
    padding: 4px;
    font-size: 24px;
}
button {
    height: 40px;
    margin: 4px;
    padding: 4px;
    font-size: 24px;
}
.Library {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 20px;
}
