.appAside {
  width: 50%;
  background-color: #6b5b95;
}

.appForm {
  width: 50%;
  background-color: #12130f;
  padding: 25px 40px;
  overflow: auto;
}

.pageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.pageSwitcherItem {
  background-color: #40434e;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.pageSwitcherItem-active {
  background-color: #6b5b95;
  color: white;
}

.pageSwitcherItem:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.pageSwitcherItem:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.formCenter {
  margin-bottom: 100px;
}

.formTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLink-active {
  color: white;
  border-bottom: 1px solid #6b5b95;
}

.formField {
  margin-bottom: 40px;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.formFieldInput {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.formFieldButton {
  background-color: #6b5b95;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.formFieldLink {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #6b5b95;
  padding-bottom: 5px;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #6b5b95;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.socialMediaButtons {
  padding: 10px 100px 10px 0px;
}

.mb-3 {
  color: rgb(255, 255, 255);
}

.mb-3 input {
  margin-left: 9em;
}

.mb-3 label {
  position: absolute;
}

.d-grid {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, rgb(22, 1, 20), rgb(22, 1, 20));
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(153, 62, 153);
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 200px;
  border-radius: 25px;
}

input {
  margin: 10px 15px;
  padding: 10px 32px;
  text-align: center;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
}

.form-control {
  text-align: center;
  margin: 10px 50px;
  padding: 10px 10px;
}

label {
  line-height: 50px;
}

.tail,
.wholeForm {
  color: rgb(255, 255, 255);
  margin: 20px;
  border: 10px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 1px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.bubbleForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  padding: 0px 23px;
  margin: 5px 0;
  width: 300px;
  line-height: 40px;
  margin-bottom: 10px;
}

.topForm {
  background-image: linear-gradient(to right, rgb(25, 25, 25), rgb(56, 27, 54));
}

button[type="login"],
button[type="submit"] {
  color: white;
  border-radius: 10px;
  border-color: rgb(207, 40, 185);
  background-color: rgb(207, 40, 185);
  margin: 10px;
  font-family: "Arial", Sans-serif;
}
