.sample_title {
  background-color: rgb(211, 28, 228);
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sample_div {
  margin-top: 20px;
  margin-bottom: 15px;
}

.filename_div {
  margin-top: 15px;
}

.filename_label {
  color: white;
  margin-right: 6px;
}

.generate_music_form {
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 500px;
  height: 300px;
}

.upload_form {
  color: white;
  background-color: rgb(211, 28, 228);
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.generatemusic_header {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -120px;
}

h2 {
  position: relative;
  top: 20px;
}

.genre_div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 400px;
  color: rgb(0, 0, 0);
}

.genre_label {
  position: relative;
  left: 175px;
}
