.entire_page{
  max-height: 500px; /* set a maximum height */
  overflow: hidden;
}

body {
  background-color: rgb(59, 3, 73);
  margin: 0px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

input {
  margin: 10px 15px;
  padding: 10px 32px;
  text-align: center;
  border-radius: 15px;
  border-color: white;
}

.step1, .step2, .step3, .step4 {
  /* background-image: linear-gradient(to right, rgb(204, 87, 206), rgb(0, 0, 0)); */
  padding: 1%;
  margin: 1%;
  position: relative;
  top: -500px;
  text-align: right;
  font-family: roboto;
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.step1:hover, .step2:hover, .step3:hover, .step4:hover {
  color: #666;
}

.myUL {
  margin: 50px;
  text-align: center;
}

.form-control {
  text-align: center;
  margin: 10px 50px;
  padding: 10px 10px;
}

label {
  line-height: 50px;
}

.tail,
.wholeForm {
  color: rgb(129, 32, 32);
  margin: 20px;
  border: 10px solid rgb(189, 38, 206);
  padding: 10px;
  margin: 10px;
  background-color: rgb(189, 38, 206);
  border-radius: 25px;
  margin-bottom: 20px;
}

button[type="home-account-btn"],
button[type="home-login-btn"] {
  background-color: #e914c6;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.home_page_2{
  color: white;
  font-family: roboto;
  gap: 10%;
}

.generate_music_text{
  font-size: 15px;
  font-family: roboto;
}

.home_page_a {
  color: white;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12%;
  font-family: "Lustria";
}

.title_word {
  animation: color-animation 5s linear infinite;
}

.title_word_1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title_word_2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title_word_3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title_word_4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: left;
  text-align: left;
  height: 90vh;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 98px;
  text-transform: uppercase;
  position: relative;
  top: -60px;
}



.header1 {
  font-size: 60px;
  text-align: left;
  color: white;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3%;
  font-family: "ROBOTO";
  
}



