.navbar {
  font-size: 20px;
  color: #eee6e6;
  background-color: rgb(49, 47, 47);
  transition: 0.2s;
  width: 100%;
}

.navbar a:hover {
  color: #000000;
}

.navLink {
  margin: 10px 20px;
  text-decoration: none;
  color: #eee6e6;
  font-family: Arial, sans-serif;
}

.account_image {
  display: inline-block;
  vertical-align: middle;
}

.navbar a:focus {
  border-radius: 5px;
  color: #000000;
}
