.library {
  flex-direction: column;
  display: flex;
  align-items: center;
  row-gap: 30px;
}

.carousel {
  border-radius: 0px;
}

.carousel_container {
  width: stretch;
}



.search_options {
  border-color: rgb(255, 255, 255);
  color: white;
}

/* .make_playlist {
  display: flex;
  background-color: pink;
  font-size: 12px;
  border-radius: 5%;
} */

.add_playlist {
  display: flex;
  font-size: 10px;
  border-radius: 3%;
  width: 23%;
}

.playlist_box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content fit-content fit-content;
  width: 85%;
}
/* 
.make_playlist:hover {
  background-color: rgb(255, 159, 175);
} */

.flex_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.left_column,
.right_column {
  flex-basis: calc(50% - 8px);
}
.flex_item {
  flex: 1;
  flex-basis: calc(50% - 8px);
  padding: 8px; /* Add padding to maintain the spacing similar to Grid */
}
@media (max-width: 600px) {
  .left_column,
  .right_column {
    flex-basis: 100%;
  }
  .left_column{
    order: 1; /* This will place the search results on top when the window is resized */
  }
  .right_column {
    order: -1; /* This will place the search results on top when the window is resized */
  }
}
.flex_item_inner {
  margin-bottom: 16px; /* Add margin to maintain the spacing similar to Grid */
}

.flex_inner_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Add gap to maintain the spacing similar to Grid */
}